AppServices/AppServices/Connected Services/IntService/IntService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MathServices.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MathServices.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IntService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common.RequestProcessing.Messages" />
  <xs:complexType name="AddIntsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Common.RequestProcessing.Messages" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Number1" type="xs:int" />
          <xs:element minOccurs="0" name="Number2" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddIntsRequest" nillable="true" type="tns:AddIntsRequest" />
  <xs:complexType name="AddIntsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Common.RequestProcessing.Messages" base="q2:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddIntsResponse" nillable="true" type="tns:AddIntsResponse" />
</xs:schema>